body{
    background-color: rgba(248, 249, 251, 0.778);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.parent {
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
}

.child{
    display: inline-flexbox;
}

img{
    width: 550px;
    height: 400px;
}