body{
    background-color: rgba(180, 238, 31, 0.8);
}

.parent {
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
}

.child{
    display: block;
}

img{
    width: 200px;
    height: 200px;
}